{% extends 'layout/_main.html' %}

{% block content %}
<!-- <section id="main">
  <section id="grid" class="container">
    <h1>#Grid</h1>
    <div class="row">
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
      <div class="col-1"><div>col-1</div></div>
    </div>
    <div class="row">
      <div class="col-3 col--md-6 col--sm-12"><div>col-3 col-md-6 col-sm-12</div></div>
      <div class="col-3 col--md-6 col--sm-12"><div>col-3 col-md-6 col-sm-12</div></div>
      <div class="col-3 col--md-6 col--sm-12"><div>col-3 col-md-6 col-sm-12</div></div>
      <div class="col-3 col--md-6 col--sm-12"><div>col-3 col-md-6 col-sm-12</div></div>
    </div>
    <div class="row">
      <div class="col-4 col-offset-4"><div>col-4 col-offset-4</div></div>
    </div>
    <div class="row">
      <div class="col-6 col-offset-6"><div>col-6 col-offset-6</div></div>
    </div>
  </section>

  <section id="typography" class="container">
    <h1>#Typography</h1>
    <h1>Heading - h1</h1>
    <h2>Heading - h2</h2>
    <h3>Heading - h3</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </section>

  <section id="button" class="container">
    <h1>#Button</h1>
    <h3>Default button</h3>
    <a href="#" class="btn">Default button</a>
    <button class="btn">Default button</button>
    <br><br>
    <h3>Primary button</h3>
    <a href="#" class="btn btn--primary">Primary button</a>
    <button class="btn btn--primary">Primary button</button>
    <br><br>
    <h3>Warning button</h3>
    <a href="#" class="btn btn--warning">Warning button</a>
    <button class="btn btn--warning">Warning button</button>
    <br><br>
    <h3>Danger button</h3>
    <a href="#" class="btn btn--danger">Danger button</a>
    <button class="btn btn--danger">Danger button</button>
  </section>

  <section id="tables" class="container">
    <h1>#Tables</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section id="card" class="container">
    <h1>#Card</h1>
    <div class="row">
      <div class="col-4 col--md-6 col--sm-12">
        <div class="card">
          <div class="card__image">
            <img class="img-responsive" src="https://img.gadgethacks.com/img/37/49/63559344570639/0/customize-login-window-background-your-mac.w1456.jpg" alt="">
          </div>
          <div class="card__header">
            <h3 class="title">Card title</h3>
          </div>
          <div class="card__body">
            <p class="preview">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
          </div>
          <div class="card__footer">
            <button class="btn btn--primary">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-4 col--md-6 col--sm-12">
        <div class="card">
          <div class="card__header">
            <h3 class="title">Card title</h3>
            <p class="subtitle">Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="card__image">
            <img class="img-responsive" src="https://wallpaper-house.com/data/out/9/wallpaper2you_335859.jpg" alt="">
          </div>
          <div class="card__body">
            <p class="preview">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
          </div>
          <div class="card__footer">
            <button class="btn btn--primary">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-4 col--md-6 col--sm-12">
        <div class="card">
          <div class="card__image">
            <img class="img-responsive" src="https://img.gadgethacks.com/img/37/49/63559344570639/0/customize-login-window-background-your-mac.w1456.jpg" alt="">
          </div>
          <div class="card__header">
            <h3 class="title">Card title</h3>
          </div>
          <div class="card__body">
            <p class="preview">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
          </div>
          <div class="card__footer">
            <button class="btn btn--primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="labels" class="container">
    <h1>#Labels</h1>
    <span class="label label--default">label default</span>
    <span class="label label--primary">label primary</span>
    <span class="label label--warning">label warning</span>
    <span class="label label--danger">label danger</span>
  </section>

  <section id="links" class="container">
    <h1>#Link</h1>
    <a class="link" href="#">Primary link</a>
    <a class="link link--primary" href="#">Darken link</a>
  </section>

  <section id="form" class="container">
    <h1>#Form</h1>
    <div class="row">
      <div class="col-6 col--sm-12">
        <form>
          <div class="field">
            <label class="form-label">First Name:</label>
            <input type="text" class="form-input"/>
          </div>
          <div class="field">
            <label class="form-label">Last Name:</label>
            <input type="text" class="form-input"/>
          </div>
          <div class="field">
            <label class="form-label">Email:</label>
            <input type="email" class="form-input"/>
          </div>
          <div class="field">
            <label class="form-label">Password:</label>
            <input type="password" class="form-input"/>
          </div>
          <div class="field">
            <label class="form-radio">
              Male
              <input type="radio" name="gender" checked />
              <span></span>
            </label>
            <label class="form-radio">
              Female
              <input type="radio" name="gender" />
              <span></span>
            </label>
          </div>
          <div class="field">
            <label class="form-checkbox">
              Lorem Ipsum is simply dummy text
              <input type="checkbox" />
              <span></span>
            </label>
          </div>
          <div class="field">
            <button class="btn">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section id="dropdown" class="container">
    <h1>#Dropdown</h1>
    <div class="row">
      <div class="col-3 col--md-4 col--sm-12">
        <div class="dropdown">
          <input type="checkbox" id="dropdown-custom" name="dropdown-custom" class="dropdown__input">
          <label for="dropdown-custom" class="dropdown__toggle">
            Dropdown
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" preserveAspectRatio="none" height="9px" width="12px"><path d="M23.65862,5.64874a.93107.93107,0,0,0-1.31671,0L12,15.99065,1.65813,5.64874A.93105.93105,0,0,0,.34142,6.96545L11.99987,18.624,12,18.62383l.00012.00012L23.65862,6.96545A.93107.93107,0,0,0,23.65862,5.64874Z"/>
            </svg>
          </label>
          <ul class="dropdown__content">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
            <li>Item 6</li>
            <li>Item 7</li>
            <li>Item 8</li>
            <li>Item 9</li>
            <li>Item 10</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="dropdown" class="container">
    <h1>#List</h1>
    <h3>*List</h3>
    <ul class="list">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>
    <h3>*List inline</h3>
    <ul class="list-inline">
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>
    <h3>*List unstyled</h3>
    <ul>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>
  </section>
</section> -->
  <a href="/test.html">Test page</a>
{% endblock %}
