.btn:focus,
.btn:active:focus {
  outline: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 12px;
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: $line-height-zero;
  color: $dark-color;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
  background-color: $light-color;
  border: 1px solid $gray-color;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: darken($gray-color, 3%);
    color: $light-color;
  }

  &--primary,
  &--warning,
  &--danger {
    color: $light-color;
  }

  &--primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background-color: darken($primary-color, 3%);
    }
  }

  &--warning {
    background-color: $warning-color;
    border: 1px solid $warning-color;

    &:hover {
      background-color: darken($warning-color, 3%);
    }
  }

  &--danger {
    background-color: $danger-color;
    border: 1px solid $danger-color;

    &:hover {
      background-color: darken($danger-color, 3%);
    }
  }
}
