.card {
  background-color: $light-color;
  border: 1px solid lighten($gray-color, 8%);
  border-radius: $radius;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, .4);
  }

  &__image {
    margin-top: 16px;
    cursor: pointer;

    &:first-child {
      margin-top: 0;

      img {
        border-radius: $radius $radius 0 0;
      }
    }

    img {
      display: block;
      width: 100%;

    }
  }

  &__header,
  &__body {
    padding: 8px 8px 0;
  }

  &__header .subtitle {
    font-size: $font-size-sm;
    color: lighten($dark-color, 25%);
  }

  &__body .preview {
    font-size: $font-size-sm;
  }

  &__footer {
    padding: 8px;
  }
}
