.dropdown {
  position: relative;

  &__input:checked {
    ~ .dropdown__content {
      visibility: visible;
      opacity: 1;
    }

    ~ .dropdown__toggle {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      svg {
        transform: translateY(-50%) rotate(-180deg) ;
      }
    }
  }

  &__toggle,
  &__content {
    border: 1px solid lighten($dark-color, 30%);
  }

  &__toggle {
    display: block;
    padding: 11px 16px;
    font-size: $font-size-base;
    line-height: $line-height-zero;
    text-align: center;
    border-radius: $radius;
    cursor: pointer;
    position: relative;

    svg {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__content {
    max-height: 160px;
    background-color: $light-color;
    border-top: 0;
    border-radius: $radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3;

    li {
      padding: 4px 8px;
      color: $primary-color;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
        color: $light-color;
      }
    }
  }
}
