.label {
  display: inline-block;
  padding: 4px 16px;
  background-color: $light-color;
  color: $dark-color;
  font-size: 14px;
  line-height: $line-height-zero;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $radius;
  border: 1px solid $gray-color;

  &--primary,
  &--warning,
  &--danger {
    color: $light-color;
  }

  &--primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
  }

  &--warning {
    background-color: $warning-color;
    border: 1px solid $warning-color;
  }

  &--danger {
    background-color: $danger-color;
    border: 1px solid $danger-color;
  }
}
