.label {
  height: 24px;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block;
  background-color: $light-color;
  color: $dark-color;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $radius;
  border: 1px solid $gray-color;

  &--primary,
  &--warning,
  &--danger {
    color: $light-color;
    border: 0;
  }

  &--primary {
    background-color: $primary-color;
  }

  &--warning {
    background-color: $warning-color;
  }

  &--danger {
    background-color: $danger-color;
  }
}
