.link {
  text-decoration: none;
  color: $dark-color;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  transition: all .3s ease;

  &:hover {
    color: darken($dark-color, 20%);
  }

  &--primary {
    color: $primary-color;

    &:hover {
      color: darken($primary-color, 20%);
    }
  }
}
