.link {
  text-decoration: none;
  color: $primary-color;
  font-size: $font-size-base;
  font-weight: 400;
  transition: all .3s ease;

  &:hover {
    color: darken($primary-color, 20%);
  }

  &--darken {
    color: $dark-color;

    &:hover {
      color: lighten($dark-color, 20%);
    }
  }
}
