<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>Html Starter</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <% include 'html/shared/_header.html' %>
    <% content %>
    <% include 'html/shared/_footer.html' %>

    <script src="/js/vendor.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
