<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>DEMO CSS FRAMEWORK</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <% include 'html/shared/_header.html' %>
    <% content %>
    <% include 'html/shared/_footer.html' %>

  </body>
</html>
